extends layout

block content
  h1= title
  p Welcome to #{title}

  if !status
    h2 offline
    #bot-status(data-status='offline')
    form(action='/connect', method='post', id='bot-setup-form', class='form-horizontal')
      .container
        .row
          .col-xs-2
            label(for='nick-input', id='nick-input-label', class='control-label')
              = 'nick:'
          .col-xs-3
            input(type='text', name='nick-input', id='nick-input', class='form-control')
        .row
          .col-xs-2
            label(for='user-name-input', id='user-name-input-label', class='control-label')
              = 'user name:'
          .col-xs-3
            input(type='text', name='user-name-input', id='user-name-input' class='form-control')
        .row
          .col-xs-2
            label(for='real-name-input', id='real-name-input-label', class='control-label')
              = 'real name:'
          .col-xs-3
            input(type='text', name='real-name-input', id='real-name-input' class='form-control')
        .row
          .col-xs-2
            label(for='server-input', id='server-input-label', class='control-label')
              = 'server:'
          .col-xs-3
            input(type='text', name='server-input', id='server-input', class='form-control')
        .row
          .col-xs-2
            label(for='channels-input', id='channels-input-label', class='control-label')
              = 'channels:'
          .col-xs-3
            input(type='text', name='channels-input', id='channels-input' class='form-control')
        br/
        .row
          .col-xs-5
            button(type='submit', id='bot-connect-btn', class='btn btn-success col-xs-12')
              = 'connect'
  else
    h2 online
    #bot-status(data-status='online')
    .container
      .row
        .col-xs-5
          button(type='submit', id='bot-disconnect-btn', class='btn btn-danger col-xs-12')

  script(type='text/javascript' src='javascripts/index.js')
